.projects {
    display: flex;
    flex-direction: column;
}

div.project{
    border-bottom: 5px solid white;
}

div.projectImg {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    position: relative;
    cursor: pointer;
}

div.activeImg:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    background-image: url("../img/technologies/git.png");
    background-size: cover;
    background-position: center;
}

div.projectImg a{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 5rem;
    text-align: center;
}

div.projectImg a:hover{
    color: greenyellow;
}

p.projectTxt {
    padding: 2rem 4rem;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1.6rem;
}

p.projectTxt a{
    display: block;
    padding-top: 2rem;
    color: blue;
    text-decoration: none;
}

#weather div.projectImg {
    background-image: url("../screens/weather.png");
}

#allen div.projectImg {
    background-image: url("../screens/allen.png");
}

#ticTacToe div.projectImg {
    background-image: url("../screens/ticTacToe.png");
}

#dragonBall div.projectImg {
    background-image: url("../screens/DragonBall.png");
}

#witcher div.projectImg {
    background-image: url("../screens/witcher.png");
}

#toDo div.projectImg {
    background-image: url("../screens/toDo.png");
}

@media all and (min-width: 538px) and (orientation: landscape) {
    div.project{
        display: flex;
        border: 5px solid white;
    }

    div.project:nth-child(2n){
        flex-direction: row-reverse;
    }
    div.project:nth-child(1), div.project:nth-child(2), div.project:nth-child(3){
        border-bottom: none;
    }

    div.projectImg {
        width: 50%;
        height: auto;
        min-height: 50vh;
    }

    p.projectTxt {
        width: 50%;
        min-height: 40vh;
    }
}

@media all and (min-width: 768px) and (orientation: portrait){
    p.projectTxt {
        font-size: 3rem;
    }
}

@media all and (min-width: 1024px) and (orientation: landscape){
    p.projectTxt {
        font-size: 2.6rem;
    }

}
